body{


	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.img{

	border-radius: 50%;
}
.img2{

	border-radius: 100%;
}
p{

font-family: Arial;
.nosotros.css

}.nosotroscss{

	font-size: 25px;
}
.l1{
	font-size: 25px;
}
.l2{
	font-size: 22px;
}
.color{
color:#336699; 
text-decoration:none;
	
}
.negro{

	text-decoration-color: rgb(32, 28, 28);
}